@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}

body {
	background-color: #fff;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #fff;

	-webkit-font-smoothing: antialized;
	-webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", serif;
	font-weight: 900;
	color: #fff; 
}

p {
	margin-bottom: 30px;
}

.centered {
	text-align: center;
}

a {
	color: #fff;

	&:hover, &:focus {
		color: #f0f0f0;
		text-decoration: none;
		transition: 1s;
	}
}

#section1 {
	.logo {
		font-family: "Roboto", sans-serif;
		font-weight: 900;
		font-size: 35px;
		color: #fff;
	}

	h1 {
		font-size: 253px;
	}

	.description {
		font-family: "Roboto", sans-serif;
		font-weight: 300;
		font-size: 38px;
	}

	.text {
		font-family: "Roboto", sans-serif;
		font-weight: 300;
		font-size: 25px;
	}

	.navbar-nav {
		li {
			a {
				font-family: "Roboto", sans-serif;
				font-weight: 500;
				font-size: 15px;
				text-transform: uppercase;
				position: relative;
				transition: 1s;

				&:hover {
					transition: 1s;
					&:after {
						content: "";
						position: absolute;
						left: 0;
						right: 0;
						bottom: -10px;
						height: 2px;
						background-color: #767473;
					}
				}
			}
		}
	}

	.soc-links {
		a {
			display: inline-block;
			width: 25px;
			height: 25px;
			margin-right: 35px;
			transition: 1s;

			&:hover {
				transform: rotate(360deg);
				transition: 1s;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.pp-section {
    height:100%;
    position:absolute;
    width:100%;
}
.pp-easing {
    -webkit-transition: all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
    -moz-transition: all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
    -o-transition: all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
    transition: all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
    -moz-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
    -o-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
    transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
    /* custom */
}
#pp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
}
#pp-nav.right {
    right: 17px;
}
#pp-nav.left {
    left: 17px;
}
.pp-section.pp-table{
    display: table;
}
.pp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.pp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}
.pp-slidesNav.bottom {
    bottom: 17px;
}
.pp-slidesNav.top {
    top: 17px;
}
#pp-nav ul,
.pp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#pp-nav li,
.pp-slidesNav li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.pp-slidesNav li {
    display: inline-block;
}
#pp-nav li a,
.pp-slidesNav li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#pp-nav li .active span,
.pp-slidesNav .active span {
    background: #fff;
}
#pp-nav span,
.pp-slidesNav span {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #f2f2f2 !important;
    background: rgba(255, 255, 255, .5);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
.pp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
}
.pp-tooltip.right {
    right: 20px;
}
.pp-tooltip.left {
    left: 20px;
}
.pp-scrollable{
    overflow-y: scroll;
    height: 100%;
}
#pagepiling {
   font: 16px/1.75 'Droid Sans', sans-serif;
}

/*customize*/
.section {
    /* the important one*/
    background-attachment: fixed; 
 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


#section4 {
    width: 100%;
}
#section4 .content {
    width: 800px;
    margin: 30px auto;
}
.intro {
    position: absolute;
    bottom: 100px;
    text-align: center;
    width: 100%;
  color: #fff;
}
.intro h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5em;
    font-weight: 700;
}

/* Styling our last section, our content */
#section4 .intro {
    color: #fff;
}
.page {
    width: 80%;
    margin: 60px auto;
    background:white;
    padding: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.page p {
    font-style: 12px;
    margin: 20px 0 0 0;
    line-height: 1.35em;
    color: #fff !important;
}
.loader {
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: #03a9f4;
  border-radius: 50%;
}
.loader:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  border: 0px solid white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: loading 1000ms ease-out forwards infinite;
          animation: loading 1000ms ease-out forwards infinite;
}

@-webkit-keyframes loading {
  0% {
    border: 0px solid white;
  }
  20% {
    border: 8px solid white;
    width: 0%;
    height: 0%;
  }
  100% {
    border: 8px solid white;
    width: 100%;
    height: 100%;
  }
}

@keyframes loading {
  0% {
    border: 0px solid white;
  }
  20% {
    border: 8px solid white;
    width: 0%;
    height: 0%;
  }
  100% {
    border: 8px solid white;
    width: 100%;
    height: 100%;
  }
}



@media only screen and (max-width : 480px) {

}

@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}